<div class="container">
  <header class="my-5 bg-light bg-opacity-10 rounded-3">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h2 class="mb-3">Our <span class="text-purple">mission</span> is Lorem ipsum dolor sit amet.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est qui blanditiis quibusdam! Aliquid
              sunt mollitia reiciendis minima voluptatem quas facilis. Accusantium, corrupti.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About - Our Story -->
  <section class="py-1" id="scroll-target">
    <div class="container px-5 my-4">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img class="img-fluid rounded opacity-50 mb-5 mb-lg-0" src="https://via.placeholder.com/600x400" alt="..." />
        </div>
        <div class="col-lg-6">
          <h2>Our <span class="text-purple">Story</span></h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aspernatur sapiente eligendi nemo
            eveniet totam, commodi laborum iusto soluta quos officiis debitis atque vel in temporibus facere assumenda
            adipisci perspiciatis hic ullam, quae mollitia nihil reprehenderit. Eius, maiores hic accusantium aliquid
            veritatis nam optio? Amet adipisci recusandae nisi aut architecto!
          </p>
          <a class="btn btn-primary" href="#" data-page="">Read More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- About - Our Team -->
  <section class="container bg-light bg-opacity-10 rounded-3 py-3 px-5 my-5">
    <div class="text-center">
      <h2 class="my-3">Our <span class="text-purple">Team</span></h2>
    </div>
    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img class="img-fluid rounded-circle mb-4 px-4" src="https://via.placeholder.com/120x120" alt="..." />
          <h5>John Doe</h5>
          <div class="fst-italic opacity-50">Founder &amp; CEO</div>
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img class="img-fluid rounded-circle mb-4 px-4" src="https://via.placeholder.com/120x120" alt="..." />
          <h5>Jane Smith</h5>
          <div class="fst-italic opacity-50">CTO</div>
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-sm-0">
        <div class="text-center">
          <img class="img-fluid rounded-circle mb-4 px-4" src="https://via.placeholder.com/120x120" alt="..." />
          <h5>Robert Johnson</h5>
          <div class="fst-italic opacity-50">Marketing Director</div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-center">
          <img class="img-fluid rounded-circle mb-4 px-4" src="https://via.placeholder.com/120x120" alt="..." />
          <h5>Emily Davis</h5>
          <div class="fst-italic opacity-50">Sales Manager</div>
        </div>
      </div>
    </div>
  </section>
</div>
