<div class="container">
  <div class="row my-5">
    <div class="col-md-12 text-center mb-5">
      <h2 class="my-3">Contact Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, iste?</p>
    </div>
    <!-- Address & contacts -->
    <div class="col-md-6 mt-2 mb-5">
      <h4 class="py-4">How to <span class="text-purple">Reach Us</span></h4>
      <address>
        <p><i class="bi bi-geo-alt text-purple me-3"></i> 123 Main Street, Anytown, USA</p>
        <p><i class="bi bi-envelope-at text-purple me-3"></i> 
          <a href="mailto:info@example.com" class="text-light text-opacity-75 link-underline link-underline-opacity-25 link-offset-1">info@example.com</a>
        </p>
        <p><i class="bi bi-telephone text-purple me-3"></i> 
          <a href="tel:+15551234567" class="text-light text-opacity-75 link-underline link-underline-opacity-25 link-offset-1">+1 555 123 4567</a>
        </p>
        <p><i class="bi bi-linkedin text-purple me-3"></i> 
          <a href="https://www.linkedin.com/" target="_blank" class="text-light text-opacity-75 link-underline link-underline-opacity-25 link-offset-1">CompanyName</a>
        </p>
      </address>
    </div>
    <!-- Message form -->
    <div class="col-md-6 rounded-3 bg-gradient border border-light-subtle py-2">
      <h2 class="my-3">Send Us a Message</h2>
      <form class="max-width-400">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your name" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Your email" required />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Your message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary my-2">Send</button>
      </form>
    </div>
  </div>
</div>
