body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f0f0f0;
}

#content {
  flex: 1;
}

.btn-primary {
  background-color: #4e54c8;
  border-color: #4e54c8;
}
.btn-primary:hover {
  background-color: #3f45b3;
  border-color: #3f45b3;
}
.accent-bg {
  background-color: #4e54c8;
}

.text-purple {
  color: #7b81fc;
  font-size: calc(1em * 1.2);
}

.nav-link:focus {
  font-size: calc(1em * 1.1);
  text-decoration: underline;
  text-decoration-color: #7b81fc;
}
